html,
body {
  padding: 0;
  margin: 0;
}

.bar {
  fill: #c0353e;
}

.leftAxis {
  font: 20px sans-serif;
}

.topAxis {
  font: 20px sans-serif;
}

.marker {
  font: 30px sans-serif;
  fill: white !important;
}

.bar:hover {
  fill: green;
}

